<h1>Books</h1>
<% @books.each do |book| %>
<div>
  <%= image_tag book.user.get_profile_image(100,100) %></p>
  <p><%= book.user.name %></p>
  
  <p>Title</p>
   <%= link_to book.title, books_path(@books)  %>
  <p>Opinion <%= book.body %></p>
    <%= link_to "Edit", edit_book_path(@books)  %>
    <%= link_to "Destroy", book_path(@books), method: :delete %>
</div>
<% end %>