<div　class="container">
  <div class="row">
    <div class="col-md-3">
      <h2>User info</h2>
      <%= image_tag @book.user.get_profile_image(100,100) %>
        
        <table>
          <tbody>
            <tr>
              <th>name</th>
              <th><%= @book.user.name %></th>
            </tr>
            <tr>
              <th>introduction</th>
              <th><%= @book.user.introduction %></th>
            </tr>
          </tbody>
        </table>
      
        <% if @book.user == current_user %>
            <button type="button" class="btn btn-outline-secondary">
              <%= link_to edit_user_path(@user) do %><i class="fas fa-user-cog"></i><% end %>
          　</button>
        <% else %>
        <button class="btn btn-outline-secondary">
          <%= link_to edit_user_path(@user) do %>
            <i class="fas fa-user-cog"></i>
          <% end %>
        </button>
      <% end %>
       
          <h2>New book</h2>
        <%= form_with model: @books do |f| %>
          <h4>Title</h4>
            <%= f.text_field :title %>
          <h4>Opinion</h4>
            <%= f.text_area :body %><br>
          <div class="create_book">
            <%= f.submit 'Create Book'  %>
          </div>
        <% end %>
        </div>
  　<div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table>
          <tbody>
            <tr>
              <td><%= link_to user_path(@user) do %> <%= image_tag @user.get_profile_image(100,100) %> <br><%= @user.name %><% end %> </td>
              <td><%= link_to @book.title,book_path(@book) %></td>
              <td><%= @book.body %></td>
             <% if @book.user == current_user %>
              <td><%= link_to "Edit", edit_book_path(@book.id),{class: "btn btn-sm btn-success"} %></td>
              <td><%= link_to "Destroy", book_path(@book), {method: :delete, class: "btn btn-sm btn-danger","data-confirm" => "本当に削除しますか？" }%></td>
             <% end %>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>
      