<div　class="container">
  <div class="row">
    　<div class="col-md-4">
         <%= render 'list', book: @book %>　
      </div>
    　<div class="col-md-8">
         <h2>Book detail</h2>
          <table>
            <thead>
              <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= link_to "/users/#{@book.user_id}" do %> <%= image_tag @book.user.get_profile_image(100,100) %> <% end %><br><%= @book.user.name %> </td>
                <td><%= @book.title %></td>
                <td><%= @book.body %></td>
                <% if @book.user == current_user %>
                <td><%= link_to "Edit", edit_book_path(@book.id),{class: "btn btn-sm btn-success"} %></td>
                <td><%= link_to "Destroy", books_path(@book), {method: :delete, class: "btn btn-sm btn-danger","data-confirm" => "本当に削除しますか？" }%><% end %></td>
              </tr>
            </tbody>
          </table>
      </div>
  </div>
</div>
    
    
      
      
  
    
        
        